<h1>Hey there, mandrilll</h1>

<button type="button">Successful Sign Up</button>
<button type="button">Store Completed</button>
<button type="button">First Customer</button>
<button type="button">New Updates</button>