<h1>Hey there, mandrilll</h1>

<%= button_to "Successful Sign Up", action: "success_email" %>
<%= button_to "Store Completed", action: "store_complete_email" %>
<%= button_to "First Customer", action: "first_customer_email" %>
<%= button_to "New Updates", action: "new_updates_email" %>

